.add-form {
  & .field-exercise {
    flex: 2 1 12rem;
  }

  & .field-num {
    flex: 0 1 7.5rem;
  }

  & .field-notes {
    flex: 3 1 12rem;
  }

  @media (max-width: 720px) {
    & .field-exercise,
    & .field-notes {
      flex-basis: 100%;
    }

    & .field-num {
      flex: 1 1 0;
    }
  }
}
