/* An exercise's session history. */

.up {
  color: var(--success);
}

.down {
  color: var(--danger);
}

td.name {
  font-weight: 600;

  & a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
